{% extends "layout.html" %}
{% block title %} {{metInfo.pageTitle}} {% endblock %}
{% block head %}
{{ super() }}
<!-- <style> </style> -->
{% endblock %}
{% block content %}
<!--  -->
<div class="container-fluid" id="container-page">
    {# {{ fmacros.tmp_placeholder_image(urlArgs) }} #}
    <!--  -->
    <div class="row">
        <div class="col-sm-4">
            {{ fmacros.create_card_information(pageText.description, pageText.instruction) }}
        </div>
        <div class="col-sm-8">
            <div class="row">
                <div class="col-sm-12 col-map-container">
                    <div id="div-map-container" class="div-map-container">
                        {% call fmacros.create_map_control(pageText, urlArgs) %}
                        {{ fanalysis.create_map_control_daily("daily", pageText) }}
                        {% endcall %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-sm-4">
            {{ fmacros.create_card_charts("div-chart-season", pageText) }}
            {% call fmacros.create_modal_expand_charts("div-chart-season", pageText) %}
            {{ fanalysis.create_expand_charts_season("daily", pageText) }}
            {% endcall %}
        </div>
        <div class="col-sm-4">
            {{ fmacros.create_card_charts("div-chart-proba", pageText) }}
            {% call fmacros.create_modal_expand_charts("div-chart-proba", pageText) %}
            {{ fanalysis.create_expand_charts_proba("daily", pageText) }}
            {% endcall %}
        </div>
        <div class="col-sm-4">
            {{ fmacros.create_card_charts("div-chart-anom", pageText) }}
            {% call fmacros.create_modal_expand_charts("div-chart-anom", pageText) %}
            {{ fanalysis.create_expand_charts_daily_anom("daily", pageText, fmacros) }}
            {% endcall %}
        </div>
    </div>
    {{ fmacros.create_modal_matplotlib(pageText) }}
</div>
{% endblock %}
{% block javascript %}
{% include "block-js.html" %}
<script>
const DATA_SET = JSON.parse('{{ pageText.dataset | tojson }}');
const PARAMS_LIST = JSON.parse('{{ pageText.parameters | tojson }}');
const PARAMS_ORDER = JSON.parse('{{ pageText.parameters_order | tojson }}');
const PARAMS_DEF = JSON.parse('{{ pageText.definition | tojson }}');
const PROBA_PLOT = JSON.parse('{{ pageText.opt_js_data | tojson }}');
</script>
<script type="text/javascript" src="{{ url_for('climate_analysis.static', filename='js/daily.js') }}"></script>
{% endblock %}