Flask
Flask-Caching
Flask-JSGlue
Flask-Cors
Flask-WTF
WTForms
uWSGI
PyYAML
passlib
numpy
geopandas
netCDF4
dask
zarr
xarray
rasterio
odc-geo
Pillow
matplotlib
scipy
statsmodels
requests
bs4
lxml
pypdf
pyarrow
fastparquet
