{% extends "layout.html" %}
{% block title %} {{metInfo.pageTitle}} {% endblock %}
{% block head %}
{{ super() }}
<!-- block head -->
<!-- <style> </style> -->
{% endblock %}
{% block content %}
<div class="container-fluid" id="container-page">
    {{ fmacros.tmp_placeholder_image(urlArgs) }}
    <!--  -->
</div>
{% endblock %}
{% block javascript %}
{% include "block-js.html" %}
<script type="text/javascript" src="{{ url_for('climate_analysis.static', filename='js/dekadal.js') }}"></script>
{% endblock %}