{% extends "layout.html" %}
{% block title %} {{metInfo.pageTitle}} {% endblock %}
{% block head %}
{{ super() }}
<!-- <style></style> -->
{% endblock %}
{% block content %}
<!--  -->
<div class="container-fluid" id="container-page">
    <div class="row">
        <div class="col-sm-4">
            {{ fmacros.create_card_information(pageText.description, pageText.instruction) }}
        </div>
        <div class="col-sm-8">
            <div class="row">
                <div class="col-sm-12 col-map-container">
                    <div id="div-map-container" class="div-map-container">
                        {% call fmacros.create_map_control(pageText, urlArgs) %}
                        {{ fmacrosMap.create_map_control_inputs("monthly", pageText) }}
                        {% endcall %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-sm-4">
            {{ fmacros.create_card_charts("div-chart-raw", pageText) }}
            {% call fmacros.create_modal_expand_charts("div-chart-raw", pageText) %}
            {{ fmacrosExp.create_expand_charts_raw("monthly", pageText) }}
            {% endcall %}
        </div>
        <div class="col-sm-4">
            {{ fmacros.create_card_charts("div-chart-clim", pageText) }}
            {% call fmacros.create_modal_expand_charts("div-chart-clim", pageText) %}
            {{ fmacrosExp.create_expand_charts_clim("monthly", pageText, fmacros) }}
            {% endcall %}
        </div>
        <div class="col-sm-4">
            {{ fmacros.create_card_charts("div-chart-anom", pageText) }}
            {% call fmacros.create_modal_expand_charts("div-chart-anom", pageText) %}
            {{ fmacrosExp.create_expand_charts_anom("monthly", pageText, fmacros) }}
            {% endcall %}
        </div>
    </div>
    {{ fmacros.create_modal_matplotlib(pageText) }}
</div>
{% endblock %}
{% block javascript %}
{% include "block-js.html" %}
<script>
var DATA_SET = JSON.parse('{{ pageText.dataset | tojson }}');
const THRESHOLD_DEF = JSON.parse('{{ pageText.opt_threshold | tojson }}');
</script>
<script type="text/javascript" src="{{ url_for('climate_analysis.static', filename='js/monthly.js') }}"></script>
{% endblock %}