<div class="container d-flex flex-wrap justify-content-start w-100" id="monthly-clim-control">
    <fieldset class="border border-secondary rounded-3 py-1">
        <legend class="legend-label">{{ pageText.monthly_ts_clim.label_charts }}</legend>
        <select id="monthly-chart-clim-charts" class="form-select monthly-clim-select2" style="width: 180px;">
            {% for key, value in pageText.monthly_ts_clim.charts.items() %}
            <option value="{{key}}">{{value}}</option>
            {% endfor %}
        </select>
    </fieldset>
    <fieldset class="border border-secondary rounded-3 py-1" id="monthly-chart-clim-variable-cont">
        <legend class="legend-label">{{ pageText.variables.label }}</legend>
        <select id="monthly-chart-clim-variable" class="form-select monthly-clim-select2" style="width: 200px;">
            {% for key, value in pageText.variables.select.items() %}
            <option value="{{key}}">{{value}}</option>
            {% endfor %}
        </select>
    </fieldset>
    <fieldset class="border border-secondary rounded-3 py-1">
        <legend class="legend-label">{{ pageText.base_period_modal.label }}</legend>
        <button id="monthly-chart-clim-bp-open" type="button" class="btn btn-outline-secondary">{{ pageText.base_period_modal.button }}</button>
    </fieldset>
    {{ fmacros.baseline_period_dialog("monthly-chart-clim-bp", pageText) }}
</div>