<script type="text/javascript">
const DATA_USERS = JSON.parse('{{ dataUser | tojson }}');
const MTO_INIT = JSON.parse('{{ metInfo | tojson }}');
const LANG_USER = JSON.parse('{{ langUser | tojson }}');
const DATA_INFO = JSON.parse('{{ dataInfo | tojson }}');

const JS_TEXT = JSON.parse('{{ pageText.js_text | tojson }}');
const LAYERS = JSON.parse('{{ pageText.layers | tojson }}');
const DATA_SET = JSON.parse('{{ pageText.dataset | tojson }}');
const BASE_PERIOD = JSON.parse('{{ pageText.base_period | tojson }}');
const SEASON_DEF = JSON.parse('{{ pageText.default_season | tojson }}');
</script>