{% extends "layout.html" %}
{% block title %} {{metInfo.pageTitle}} {% endblock %}
{% block head %}
{{ super() }}
<style>
    .card-description {
        height: 90vh;
    }
    .card-description-tab {
        max-height: 78vh;
    }
</style>
{% endblock %}
{% block content %}
<!--  -->
<div class="container-fluid" id="container-page">
    <div class="row">
        <div class="col-sm-4">
            {{ fmacros.create_card_information(pageText.description, pageText.instruction) }}
        </div>
        <div class="col-sm-8">
            <div class="row">
                <div class="col-sm-12 col-map-container">
                    <div id="div-map-container" class="div-map-container">
                        {% call fmacros.create_map_control(pageText, urlArgs) %}
                        {{ fmacrosMap.create_map_control_drm_analysis_temperature("daily", pageText) }}
                        {% endcall %}
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-sm-6">
                    {{ fmacros.create_card_charts("div-chart-cdf", pageText) }}
                </div>
                <div class="col-sm-6">
                    {{ fmacros.create_card_charts("div-chart-pdf", pageText) }}
                </div>
            </div>
        </div>
    </div>
    {{ fmacros.create_modal_matplotlib(pageText) }}
</div>
{% endblock %}
{% block javascript %}
{% include "block-js.html" %}
<script>
const PARAMS_LIST = JSON.parse('{{ pageText.parameters | tojson }}');
PARAMS_LIST.tmin = PARAMS_LIST.temperature;
PARAMS_LIST.tmax = PARAMS_LIST.temperature;
const PARAMS_ORDER = JSON.parse('{{ pageText.parameters_order | tojson }}');
const PARAMS_DEF = JSON.parse('{{ pageText.definition | tojson }}');
const PROBA_PLOT = JSON.parse('{{ pageText.opt_js_data | tojson }}');
</script>
<script type="text/javascript" src="{{ url_for('drm_analysis.static', filename='js/ext_temperature.js') }}"></script>
{% endblock %}
