<div class="col-md-7 user-list-modal">
    {{ umacros.user_files_table(pageText.tab_content.geojs, pageText.tab_content.delete, "geojson") }}
</div>
<hr>
<div class="user-inputs-info">
    {% call umacros.user_files_input(pageText.tab_content.geojs, "geojson", False) %}
    <div>
        {{ pageText.tab_content.geojs.instruction|safe }}
        <pre class="pre-user-account">
    {
        "type": "FeatureCollection",
        "features": [
        {
            "type": "Feature",
            "geometry":
            {
                "type": "Point",
                "coordinates": [35.3223, -15.38361]
            },
            "properties":
            {
                "type": "Point",
                "name": "Ahi Private Clinic",
                .......
            }
        },
        {
            "type": "Feature",
            "geometry":
            {
                "type": "Polygon",
                "coordinates": [
                    [
                        [34.8341, -15.2765],
                        [34.835, -15.2762],

                        .......

                        [34.8327, -15.2769],
                        [34.8341, -15.2765]
                    ]
                ]
            },
            "properties":
            {
                "type": "Polygon",
                "name": "Balaka-DHO",
                .......
            }
        },
        { 
            .......... 
        },

        ..........
        ]
    }
        </pre>
    </div>
    {% endcall %}
</div>