{% macro create_map_control_inputs(tempRes, pageText) %}
<div class="container">
    {% set tstepID = tempRes ~ '-map-date' %}
    <fieldset class="border border-secondary rounded-3">
        <legend class="legend-label">{{ pageText.variables.label }}</legend>
        <select id="{{ tempRes }}-map-variable" class="form-select form-select2-nosearch">
            {% for key, value in pageText.variables.select.items() %}
            <option value="{{key}}">{{value}}</option>
            {% endfor %}
        </select>
    </fieldset>
    <fieldset class="border border-secondary rounded-3">
        <legend class="legend-label">{{ pageText.opt_map.label_display }}</legend>
        <select id="{{ tempRes }}-map-type" class="form-select form-select2-nosearch">
            {% for key, value in pageText.opt_map.select_display.items() %}
            <option value="{{key}}">{{value}}</option>
            {% endfor %}
        </select>
    </fieldset>
    <fieldset class="border border-secondary rounded-3">
        <legend class="legend-label">{{ pageText.opt_map.label_date }}</legend>
        {% if tempRes == 'seasonal'%}
        <div class="container-fluid">
            <div class="row gx-1">
                <div class="col-md-9">
                    {{ pageText.opt_season.season_map.start }}
                </div>
                <div class="col-md-3">
                    {{ pageText.opt_season.season_map.length }}
                </div>
            </div>
            <div class="row gx-1">
                <div id="{{ tstepID }}" class="col-md-9">
                    <input id="{{ tstepID }}-calendar" type="text" class="form-control">
                </div>
                <div id="div-{{ tstepID }}-length" class="col-md-3">
                    <select id="{{ tstepID }}-length" class="form-select form-select2-nosearch"></select>
                </div>
            </div>
        </div>
        <div id="{{ tempRes }}-season-months" class="d-flex justify-content-center">
        </div>
        {% else %}
        <div id="{{ tstepID }}">
            <input id="{{ tstepID }}-calendar" type="text" class="form-control">
        </div>
        {% endif %}
    </fieldset>
    <fieldset id="{{ tempRes }}-map-anomaly" class="border border-secondary rounded-3" style="display: none;">
        <legend class="legend-label">{{ pageText.opt_anomaly.label }}</legend>
        <div>
            <select id="{{ tempRes }}-map-anomaly-type" class="form-select form-select2-nosearch" style="width:100%;">
                {% for key, value in pageText.opt_anomaly.select.items() %}
                <option value="{{key}}" {% if (key=='difference' ) %} selected {% endif %}>{{value}}</option>
                {% endfor %}
            </select>
        </div>
    </fieldset>
    <fieldset id="{{ tempRes }}-map-climato" class="border border-secondary rounded-3" style="display: none;">
        <legend class="legend-label">{{ pageText.opt_climato.label_climato }}</legend>
        <div>
            <select id="{{ tempRes }}-map-climato-func" class="form-select form-select2-nosearch" style="width:100%;">
                {% for key, value in pageText.opt_climato.func_climato.items() %}
                <option value="{{key}}" {% if (key=='mean' ) %} selected {% endif %}>{{value}}</option>
                {% endfor %}
            </select>
        </div>
        <div id="div-{{ tempRes }}-map-climato-perc" style="display: none;">
            <div class="row p-0 g-0 mt-2">
                <div class="col-md-6 input-group w-auto">
                    <span class="input-group-text">{{ pageText.opt_climato.label_perc }}</span>
                    <input id="{{ tempRes }}-map-climato-perc" type="text" size="3" value="95" class="form-control">
                </div>
            </div>
        </div>
        <div id="div-{{ tempRes }}-map-climato-freq" style="display: none;">
            <div class="row p-0 g-0 mt-2">
                <div class="col-md-6 input-group w-auto">
                    <span class="input-group-text">{{ pageText.opt_climato.label_freq_op }}</span>
                    <select id="{{ tempRes }}-map-climato-freqOp" class="form-select form-select2-nosearch">
                        {% for op in ['>=', '>', '<=', '<' ] %} <option value="{{op}}">{{op}}</option>
                            {% endfor %}
                    </select>
                </div>
                <div class="col-md-6 input-group w-auto">
                    <span class="input-group-text">{{ pageText.opt_climato.label_thres }}</span>
                    <input id="{{ tempRes }}-map-climato-freqTh" type="text" size="4" value="{{ pageText.opt_threshold.value.precip }}" class="form-control">
                    <span id="{{ tempRes }}-map-climato-freqU" class="input-group-text">{{ pageText.opt_threshold.unit.precip }}</span>
                </div>
            </div>
        </div>
        {% if tempRes == 'seasonal'%}
        <div id="div-{{ tempRes }}-map-climato-proba" style="display: none;">
            <div class="row p-0 g-0 mt-2">
                <div class="col-md-8 input-group w-auto">
                    <span class="input-group-text">{{ pageText.opt_climato.label_thres }}</span>
                    <input id="{{ tempRes }}-map-climato-probaTh" type="text" size="4" value="{{ pageText.opt_threshold.value.precip }}" class="form-control">
                    <span id="{{ tempRes }}-map-climato-probaU" class="input-group-text">{{ pageText.opt_threshold.unit.precip }}</span>
                </div>
            </div>
        </div>
        <div id="div-{{ tempRes }}-map-climato-trend" style="display: none;">
            <div class="row mt-2 g-1">
                <div class="col-md-2 d-flex justify-content-end">
                    {{ pageText.opt_climato.label_trend }}
                </div>
                <div class="col-md-10">
                    <select id="{{ tempRes }}-map-climato-trendUnit" class="form-select form-select2-nosearch" style="width:100%;">
                        {% for key, value in pageText.opt_climato.trend_unit.items() %}
                        <option value="{{key}}" {% if (key=='perYear' ) %} selected {% endif %}>{{value}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
        {% endif %}
    </fieldset>
    <fieldset id="div-{{ tempRes }}-base-period" class="border border-secondary rounded-3" style="display: none;">
        <legend class="legend-label">{{ pageText.base_period_modal.label }}</legend>
        <div class="w-100">
            {% set dialogID = tempRes ~ '-base-period' %}
            <div class="row p-0 m-0">
                <div class="col-sm-4 d-flex justify-content-end text-end align-items-center pe-1 m-0">
                    {{ pageText.base_period_dialog.start_year }}
                </div>
                <div class="col-sm-2 p-0 m-0">
                    <input id="{{ dialogID }}-start" class="form-control text-center px-0" type="text" value="{{ pageText.base_period.start_year }}">
                </div>
                <div class="col-sm-4 d-flex justify-content-end text-end align-items-center pe-1 m-0">
                    {{ pageText.base_period_dialog.end_year }}
                </div>
                <div class="col-sm-2 p-0 m-0">
                    <input id="{{ dialogID }}-end" class="form-control text-center px-0" type="text" value="{{ pageText.base_period.end_year }}">
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-sm-10 d-flex justify-content-end align-items-center text-end pe-1 me-0">
                    {{ pageText.base_period_dialog.min_year }}
                </div>
                <div class="col-sm-2 ps-0 ms-0">
                    <input id="{{ dialogID }}-min" class="form-control text-center px-0" type="text" value="{{ pageText.base_period.min_year }}">
                </div>
            </div>
        </div>
    </fieldset>
</div>
{% endmacro %}
<!--  -->
{% macro create_map_control_daily(tempRes, pageText) %}
<div class="container">
    {% set tstepID = tempRes ~ '-map-date' %}
    <fieldset class="border border-secondary rounded-3">
        <legend class="legend-label">{{ pageText.variables.label }}</legend>
        <select id="{{ tempRes }}-map-variable" class="form-select form-select2-nosearch">
            {% for key, value in pageText.variables.select.items() %}
            <option value="{{key}}">{{value}}</option>
            {% endfor %}
        </select>
    </fieldset>
    <fieldset class="border border-secondary rounded-3">
        <legend class="legend-label">{{ pageText.opt_map.label }}</legend>
        <select id="{{ tempRes }}-map-type" class="form-select form-select2-nosearch">
            {% for key, value in pageText.opt_map.select.items() %}
            <option value="{{key}}">{{value}}</option>
            {% endfor %}
        </select>
    </fieldset>
    <fieldset class="border border-secondary rounded-3">
        <legend class="legend-label">{{ pageText.opt_season.label_sesaon }}</legend>
        <div class="container-fluid px-0">
            <div class="row gx-1">
                <div class="col-md-6 text-center">
                    {{ pageText.opt_season.start_date }}
                </div>
                <div class="col-md-6 text-center">
                    {{ pageText.opt_season.end_date }}
                </div>
            </div>
            <div class="row gx-1">
                <div class="col-md-4">
                    <select id="{{ tstepID }}-start-mon" class="form-select form-select2-nosearch"></select>
                </div>
                <div class="col-md-2">
                    <select id="{{ tstepID }}-start-day" class="form-select form-select2-nosearch"></select>
                </div>
                <div class="col-md-4">
                    <select id="{{ tstepID }}-end-mon" class="form-select form-select2-nosearch"></select>
                </div>
                <div class="col-md-2">
                    <select id="{{ tstepID }}-end-day" class="form-select form-select2-nosearch"></select>
                </div>
            </div>
        </div>
    </fieldset>
    <fieldset class="border border-secondary rounded-3">
        <legend class="legend-label">{{ pageText.opt_season.label_year }}</legend>
        <div id="div-{{ tstepID }}-climato-years" style="display: none;">
            <div class="row gx-1">
                <div class="col-md-3 d-flex justify-content-end align-items-center text-end">
                    {{ pageText.opt_season.start_date }}
                </div>
                <div class="col-md-3">
                    <input id="{{ tstepID }}-start-year" class="form-control text-center" type="text" value="{{ pageText.default_season.start_year }}">
                </div>
                <div class="col-md-3 d-flex justify-content-end align-items-center  text-end">
                    {{ pageText.opt_season.end_date }}
                </div>
                <div class="col-md-3">
                    <input id="{{ tstepID }}-end-year" class="form-control text-center" type="text" value="{{ pageText.default_season.end_year }}">
                </div>
            </div>
            <div class="row gx-1 mt-1">
                <div class="col-md-9 d-flex text-nowrap justify-content-end align-items-center text-end">
                    {{ pageText.opt_season.min_year }}
                </div>
                <div class="col-md-3">
                    <input id="{{ tstepID }}-min-year" class="form-control text-center" type="text" value="{{ pageText.default_season.min_year }}">
                </div>
            </div>
        </div>
        <div id="div-{{ tstepID }}-tseries-years" style="display: none;">
            <div class="row gx-1 mt-1">
                <div class="col-md-6 d-flex justify-content-end align-items-center text-end">
                    {{ pageText.opt_season.disp_year }}
                </div>
                <div class="col-md-4">
                    <input id="{{ tstepID }}-tseries-year" class="form-control text-center" type="number" value="2024" min="1981" max="2026" step="1">
                </div>
            </div>
        </div>
    </fieldset>
    <fieldset class="border border-secondary rounded-3">
        <legend class="legend-label">{{ pageText.label_statistics.params }}</legend>
        <select id="{{ tempRes }}-map-parameters" class="form-select form-select2-nosearch">
            {% for key, value in pageText.parameters.rainfall.items() %}
            <option value="{{key}}">{{value.select}}</option>
            {% endfor %}
        </select>
    </fieldset>
    <fieldset id="{{ tempRes }}-map-climato" class="border border-secondary rounded-3">
        <legend class="legend-label">{{ pageText.label_statistics.stats }}</legend>
        <div class="w-100">
            <select id="{{ tempRes }}-map-statistics" class="form-select form-select2-nosearch">
                {% for key, value in pageText.seasonal_statistics.items() %}
                <option value="{{key}}">{{value}}</option>
                {% endfor %}
            </select>
        </div>
        <div id="div-{{ tempRes }}-map-climato-proba" style="display: none;">
            <div class="input-group w-75 mt-2">
                <span class="input-group-text">{{ pageText.probabilities.thres }}</span>
                <input id="{{ tempRes }}-map-climato-probaTh" type="text" value="{{ pageText.parameters.rainfall.TotRain.value}}" class="form-control" style="flex: 0 0 70px;">
                <span id="{{ tempRes }}-map-climato-parUnit" class="input-group-text">{{pageText.parameters.rainfall.TotRain.unit }}</span>
            </div>
            <div class="input-group w-100 mt-1">
                <span class="input-group-text">{{ pageText.probabilities.unit }}</span>
                <select id="{{ tempRes }}-map-climato-probaUnit" class="form-select form-select2-nosearch">
                    {% for key, value in pageText.probabilities.select.items() %}
                    <option value="{{key}}">{{value}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </fieldset>
    <fieldset id="{{ tempRes }}-def-number" class="border border-secondary rounded-3" style="display: none;">
        <legend id="{{ tempRes }}-def-number-thres-lab" class="legend-label">{{ pageText.definition.rainfall.number.label }}</legend>
        <div class="row gx-0 mt-1">
            <div id="{{ tempRes }}-def-number-thres-txt" class="col-md-8 d-flex justify-content-end align-items-center text-end pe-1">
                {{ pageText.definition.rainfall.number.text }}
            </div>
            <div class="col-md-2 d-flex align-items-center">
                <input id="{{ tempRes }}-def-number-thres-val" class="form-control text-center" type="text" value="{{ pageText.definition.rainfall.number.value }}">
            </div>
            <div id="{{ tempRes }}-def-number-thres-unit" class="col-md-2 d-flex justify-content-start align-items-center text-start ps-1">
                {{ pageText.definition.rainfall.number.unit }}
            </div>
        </div>
    </fieldset>
    <fieldset id="{{ tempRes }}-def-spell" class="border border-secondary rounded-3" style="display: none;">
        <legend id="{{ tempRes }}-def-spell-thres-lab" class="legend-label">{{ pageText.definition.rainfall.spell.label }}</legend>
        <div class="row gx-0 mt-1">
            <div class="col-md-2 d-flex align-items-center">
                <input id="{{ tempRes }}-def-spell-thres-val" class="form-control text-center" type="text" value="{{ pageText.definition.rainfall.spell.value }}">
            </div>
            <div id="{{ tempRes }}-def-spell-thres-txt" class="col-md-8 d-flex justify-content-start align-items-center text-start ps-2">
                {{ pageText.definition.rainfall.spell.text }}
            </div>
        </div>
    </fieldset>
</div>
{% endmacro %}
<!--  -->
{% macro create_expand_charts_raw(tempRes, pageText) %}
<div class="container d-flex flex-wrap justify-content-start w-100" id="{{ tempRes }}-raw-control">
    <fieldset class="border border-secondary rounded-3 py-1">
        <legend class="legend-label">{{ pageText.variables.label }}</legend>
        <select id="{{ tempRes }}-chart-raw-variable" class="form-select {{ tempRes }}-raw-select2" style="width: 200px;">
            {% for key, value in pageText.variables.select.items() %}
            <option value="{{key}}">{{value}}</option>
            {% endfor %}
        </select>
    </fieldset>
    <fieldset class="border border-secondary rounded-3 py-1">
        <legend class="legend-label">{{ pageText.opt_ts_raw.label_date.start }}</legend>
        <div id="{{ tempRes }}-chart-raw-startdate" style="width: 8.0em">
            <input id="{{ tempRes }}-chart-raw-startdate-calendar" type="text" class="form-control">
        </div>
    </fieldset>
    <fieldset class="border border-secondary rounded-3 py-1">
        <legend class="legend-label">{{ pageText.opt_ts_raw.label_date.end }}</legend>
        <div id="{{ tempRes }}-chart-raw-enddate" style="width: 8.0em">
            <input id="{{ tempRes }}-chart-raw-enddate-calendar" type="text" class="form-control">
        </div>
    </fieldset>
    <fieldset class="border border-secondary rounded-3 py-1">
        <legend class="legend-label">{{ pageText.opt_ts_raw.label_series }}</legend>
        <select id="{{ tempRes }}-chart-raw-series" class="form-select {{ tempRes }}-raw-select2" style="width: 150px;">
            {% for key, value in pageText.opt_ts_raw.series.items() %}
            <option value="{{key}}">{{value}}</option>
            {% endfor %}
        </select>
    </fieldset>
    <fieldset id="{{ tempRes }}-chart-raw-startmonth-list" class="border border-secondary rounded-3 py-1" style="display: none;">
        <legend class="legend-label">{{ pageText.opt_ts_raw.start_mon }}</legend>
        <div id="{{ tempRes }}-chart-raw-startmonth" style="width: 120px;"></div>
    </fieldset>
</div>
{% endmacro %}
<!--  -->
{% macro create_expand_charts_anom(tempRes, pageText, fmacros) %}
<div class="container d-flex flex-wrap justify-content-start w-100" id="{{ tempRes }}-anom-control">
    <fieldset class="border border-secondary rounded-3 py-1">
        <legend class="legend-label">{{ pageText.variables.label }}</legend>
        <select id="{{ tempRes }}-chart-anom-variable" class="form-select {{ tempRes }}-anom-select2" style="width: 200px;">
            {% for key, value in pageText.variables.select.items() %}
            <option value="{{key}}">{{value}}</option>
            {% endfor %}
        </select>
    </fieldset>
    <fieldset class="border border-secondary rounded-3 py-1">
        {% if tempRes == 'seasonal'%}
        <legend class="legend-label">{{ pageText.opt_season.label_year.start }}</legend>
        {% else %}
        <legend class="legend-label">{{ pageText.opt_ts_anom.label_date.start }}</legend>
        {% endif %}
        <div id="{{ tempRes }}-chart-anom-startdate" style="width: 6.5em">
            <input id="{{ tempRes }}-chart-anom-startdate-calendar" type="text" class="form-control">
        </div>
    </fieldset>
    <fieldset class="border border-secondary rounded-3 py-1">
        {% if tempRes == 'seasonal'%}
        <legend class="legend-label">{{ pageText.opt_season.label_year.end }}</legend>
        {% else %}
        <legend class="legend-label">{{ pageText.opt_ts_anom.label_date.end }}</legend>
        {% endif %}
        <div id="{{ tempRes }}-chart-anom-enddate" style="width: 6.5em">
            <input id="{{ tempRes }}-chart-anom-enddate-calendar" type="text" class="form-control">
        </div>
    </fieldset>
    {% if tempRes == 'seasonal'%}
    <fieldset class="border border-secondary rounded-3 py-1">
        <legend class="legend-label">{{ pageText.opt_season.season_ts.length }}</legend>
        <div class="row">
            <div class="col-md-4">
                <select id="{{ tempRes }}-chart-anom-seaslen" class="form-select {{ tempRes }}-anom-select2"></select>
            </div>
            <div class="col-md-6">
                {{ pageText.opt_season.season_ts.unit }}
            </div>
        </div>
    </fieldset>
    {% endif %}
    <fieldset class="border border-secondary rounded-3 py-1">
        <legend class="legend-label">{{ pageText.opt_anomaly.label }}</legend>
        <select id="{{ tempRes }}-chart-anom-type" class="form-select {{ tempRes }}-anom-select2" style="width: 200px;">
            {% for key, value in pageText.opt_anomaly.select.items() %}
            <option value="{{key}}">{{value}}</option>
            {% endfor %}
        </select>
    </fieldset>
    <fieldset class="border border-secondary rounded-3 py-1">
        <legend class="legend-label">{{ pageText.opt_ts_anom.label_series }}</legend>
        <select id="{{ tempRes }}-chart-anom-series" class="form-select {{ tempRes }}-anom-select2" style="width: 150px;">
            {% for key, value in pageText.opt_ts_anom.series.items() %}
            <option value="{{key}}">{{value}}</option>
            {% endfor %}
        </select>
    </fieldset>
    <fieldset id="{{ tempRes }}-chart-anom-tstep-list" class="border border-secondary rounded-3 py-1" style="display: none;">
        {% if tempRes == 'seasonal'%}
        <legend class="legend-label">{{ pageText.opt_season.season_ts.start }}</legend>
        {% else %}
        <legend class="legend-label">{{ pageText.opt_ts_anom.label_tstep }}</legend>
        {% endif %}
        <div id="{{ tempRes }}-chart-anom-tstep" style="width: 160px;"></div>
    </fieldset>
    <fieldset class="border border-secondary rounded-3 py-1">
        <legend class="legend-label">{{ pageText.base_period_modal.label }}</legend>
        <button id="{{ tempRes }}-chart-anom-bp-open" type="button" class="btn btn-outline-secondary">{{ pageText.base_period_modal.button }}</button>
    </fieldset>
    {{ fmacros.baseline_period_dialog(tempRes ~ '-chart-anom-bp', pageText) }}
</div>
{% endmacro %}
<!--  -->
{% macro create_expand_charts_clim(tempRes, pageText, fmacros) %}
<div class="container d-flex flex-wrap justify-content-start w-100" id="{{ tempRes }}-clim-control">
    <fieldset class="border border-secondary rounded-3 py-1">
        <legend class="legend-label">{{ pageText.opt_ts_clim.label_charts }}</legend>
        <select id="{{ tempRes }}-chart-clim-charts" class="form-select {{ tempRes }}-clim-select2" style="width: 180px;">
            {% for key, value in pageText.opt_ts_clim.charts.items() %}
            <option value="{{key}}">{{value}}</option>
            {% endfor %}
        </select>
    </fieldset>
    <fieldset class="border border-secondary rounded-3 py-1" id="{{ tempRes }}-chart-clim-variable-cont">
        <legend class="legend-label">{{ pageText.variables.label }}</legend>
        <select id="{{ tempRes }}-chart-clim-variable" class="form-select {{ tempRes }}-clim-select2" style="width: 200px;">
            {% for key, value in pageText.variables.select.items() %}
            <option value="{{key}}">{{value}}</option>
            {% endfor %}
        </select>
    </fieldset>
    <fieldset class="border border-secondary rounded-3 py-1">
        <legend class="legend-label">{{ pageText.base_period_modal.label }}</legend>
        <button id="{{ tempRes }}-chart-clim-bp-open" type="button" class="btn btn-outline-secondary">{{ pageText.base_period_modal.button }}</button>
    </fieldset>
    {{ fmacros.baseline_period_dialog(tempRes ~ '-chart-clim-bp', pageText) }}
</div>
{% endmacro %}
<!--  -->
{% macro create_expand_charts_proba(tempRes, pageText) %}
<div class="container d-flex flex-wrap justify-content-start w-100" id="{{ tempRes }}-proba-control">
    <fieldset class="border border-secondary rounded-3 py-1">
        <legend class="legend-label">{{ pageText.variables.label }}</legend>
        <select id="{{ tempRes }}-chart-proba-variable" class="form-select {{ tempRes }}-proba-select2" style="width: 200px;">
            {% for key, value in pageText.variables.select.items() %}
            <option value="{{key}}">{{value}}</option>
            {% endfor %}
        </select>
    </fieldset>
    <fieldset class="border border-secondary rounded-3 py-1">
        <legend class="legend-label">{{ pageText.opt_season.label_year.start }}</legend>
        <div id="{{ tempRes }}-chart-proba-startdate" style="width: 6.5em">
            <input id="{{ tempRes }}-chart-proba-startdate-calendar" type="text" class="form-control">
        </div>
    </fieldset>
    <fieldset class="border border-secondary rounded-3 py-1">
        <legend class="legend-label">{{ pageText.opt_season.label_year.end }}</legend>
        <div id="{{ tempRes }}-chart-proba-enddate" style="width: 6.5em">
            <input id="{{ tempRes }}-chart-proba-enddate-calendar" type="text" class="form-control">
        </div>
    </fieldset>
    {% if tempRes == 'seasonal'%}
    <fieldset class="border border-secondary rounded-3 py-1">
        <legend class="legend-label">{{ pageText.opt_season.season_ts.start }}</legend>
        <div id="{{ tempRes }}-chart-proba-startmon" style="width: 160px;"></div>
    </fieldset>
    <fieldset class="border border-secondary rounded-3 py-1">
        <legend class="legend-label">{{ pageText.opt_season.season_ts.length }}</legend>
        <div class="row">
            <div class="col-md-4">
                <select id="{{ tempRes }}-chart-proba-seaslen" class="form-select {{ tempRes }}-proba-select2"></select>
            </div>
            <div class="col-md-6">
                {{ pageText.opt_season.season_ts.unit }}
            </div>
        </div>
    </fieldset>
    {% endif %}
    <fieldset class="border border-secondary rounded-3 py-1">
        <legend class="legend-label">{{ pageText.opt_ts_df.label }}</legend>
        <select id="{{ tempRes }}-chart-proba-plot-type" class="form-select {{ tempRes }}-proba-select2">
            {% for key, value in pageText.opt_ts_df.select.items() %}
            <option value="{{key}}">{{value}}</option>
            {% endfor %}
        </select>
    </fieldset>
    <!--  -->
    <fieldset id="{{ tempRes }}-chart-proba-plot-cdf" class="border border-secondary rounded-3 py-1" style="display: none;">
        <legend class="legend-label">{{ pageText.opt_ts_cdf.label }}</legend>
        <div class="d-flex gap-3">
            {% for key, value in pageText.opt_ts_cdf.type.items() %}
            <label class="d-flex align-items-center">
                <input type="checkbox" id="{{ tempRes }}-proba-plot-{{ key }}" class="{{ tempRes }}-proba-plot me-1" data-plot="cdf" value="{{ key }}" {% if ( key!='fitted' ) %} checked {% endif %}>
                <span>{{ value }}</span>
            </label>
            {% endfor %}
        </div>
    </fieldset>
    <!--  -->
    <fieldset id="{{ tempRes }}-chart-proba-plot-pdf" class="border border-secondary rounded-3 py-1" style="display: none;">
        <legend class="legend-label">{{ pageText.opt_ts_pdf.label }}</legend>
        <div class="d-flex gap-3">
            {% for key, value in pageText.opt_ts_pdf.type.items() %}
            <label class="d-flex align-items-center">
                <input type="checkbox" id="{{ tempRes }}-proba-plot-{{ key }}" class="{{ tempRes }}-proba-plot me-1" data-plot="pdf" value="{{ key }}" {% if ( key!='fitted' ) %} checked {% endif %}>
                <span>{{ value }}</span>
            </label>
            {% endfor %}
        </div>
    </fieldset>
</div>
{% endmacro %}
<!--  -->
{% macro create_expand_charts_season(tempRes, pageText) %}
<div class="container d-flex flex-wrap justify-content-start w-100" id="{{ tempRes }}-season-control">
    <fieldset class="border border-secondary rounded-3 py-1">
        <legend class="legend-label">{{ pageText.variables.label }}</legend>
        <select id="{{ tempRes }}-chart-season-variable" class="form-select {{ tempRes }}-season-select2" style="width: 200px;">
            {% for key, value in pageText.variables.select.items() %}
            <option value="{{key}}">{{value}}</option>
            {% endfor %}
        </select>
    </fieldset>
    <fieldset class="border border-secondary rounded-3 py-1">
        <legend class="legend-label">{{ pageText.opt_season.label_year.start }}</legend>
        <div id="{{ tempRes }}-chart-season-startdate" style="width: 6.5em">
            <input id="{{ tempRes }}-chart-season-startdate-calendar" type="text" class="form-control">
        </div>
    </fieldset>
    <fieldset class="border border-secondary rounded-3 py-1">
        <legend class="legend-label">{{ pageText.opt_season.label_year.end }}</legend>
        <div id="{{ tempRes }}-chart-season-enddate" style="width: 6.5em">
            <input id="{{ tempRes }}-chart-season-enddate-calendar" type="text" class="form-control">
        </div>
    </fieldset>
    {% if tempRes == 'seasonal'%}
    <fieldset class="border border-secondary rounded-3 py-1">
        <legend class="legend-label">{{ pageText.opt_season.season_ts.start }}</legend>
        <div id="{{ tempRes }}-chart-season-startmon" style="width: 160px;"></div>
    </fieldset>
    <fieldset class="border border-secondary rounded-3 py-1">
        <legend class="legend-label">{{ pageText.opt_season.season_ts.length }}</legend>
        <div class="row">
            <div class="col-md-4">
                <select id="{{ tempRes }}-chart-season-seaslen" class="form-select {{ tempRes }}-season-select2"></select>
            </div>
            <div class="col-md-6">
                {{ pageText.opt_season.season_ts.unit }}
            </div>
        </div>
    </fieldset>
    {% endif %}
    <!--  -->
</div>
{% endmacro %}
<!--  -->